[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pyinstaller = "*"
pytest = "*"

[packages]
boto3 = "*"
boto3-type-annotations = "*"
pycryptodome = "*"
pyqt5 = "*"
pyqtchart = "*"
tzlocal = "*"

[requires]
python_version = "3.9"
